*.Rmd
*.html
peachNIR.csv
peachVIS-NIR.csv
PLSR_auto/
PLSR_result/
figures/
*.pptx

# R
*.Rproj
*.RData
.Rprofile
.Rhistory
.Rbuildignore
packrat/
.Rproj.user/
RPubs/

# Git
.gitattributes
.gitignore

